html, body {
  background-color: white;
  display: block;
}

.mountain-image {
  position: relative;


}

/* .navbar-brand {
  padding-left: 35px;
  position: fixed;
  z-index: 1001;
  width: 100%;
  background-color: #a5d1df;
  padding-top: 50px;
  padding-bottom: 20px;
} */
.navbar{
  z-index: 3000;
  position: relative;
  background-color: #a5d1df;

}
.container {
  position: relative;
  margin-left: -50px;
  width: 150%;
}
.mr-auto{
  position:relative;
  left: 12%;
}
.wrapper {
  height: 2%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.wave {
  background: url("images/wave.png") repeat-x;
  position: absolute;
  top: 1000px;
  width: 6400px;
  height: 398px;
  animation: wave 12s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 12s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}
.top_img_logo{
  position: absolute;
  z-index:1001;
  margin-left: 50%;
  margin-right: 50%;
  margin-top:24%;
  margin-bottom: 80%;
  height: 8%;

}
@keyframes wave {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -800px;
  }
}
.nav-item{
  font-size: 130%;
  position: relative;
  left:480px;
  padding-left: 20px;
  display:block;
}
.gigel{
  font-size: 130%;
  margin-left: 20px;
}
a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
  border-bottom: 2px solid white;
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0, -25px, 0);
  }

  50% {
    transform: translate3d(0, 5px, 0);
  }
}

/* ANIMATIE DE WAVE */
#events {
  margin: 200px 250px 180px 250px;
  position: relative;
  text-align: center;
  line-height: 1.6;
  color: #000;
  letter-spacing: 0.25em;
  font-family: 'Indie Flower', cursive;

}
#bottom{
  background-color: red;
}
#poze-carusel {
  margin-bottom: 100px;
}
#contact{
    background-color: #a5d1df;
    line-height: 1.9;
letter-spacing: 0.03em;
font-family: 'EB Garamond', Georgia, Times, "Times New Roman", serif;
color: #fff;
text-align: center;
box-sizing: border-box;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
margin: 0 auto;
min-height: 1px;
zoom: 1;
margin-top: 800px;
height: 440px;
position: relative;

}
.contact-image{
  margin-top: 40px;
}
.h2-contact{
  font-family: 'Indie Flower', cursive;
}
.h4-contact{
  margin-top: 50px;
}
.p-contact{
  margin-top: 20px;
}
hr{
  margin-top: 40px;
  border: solid 2px;
}
.rezervatii{
    margin-top: 40%;
    text-align: center;
    margin-bottom: -41%;
}
.button-rez{
  width: 40%;
  height: 100px;;
  font-size: 240%;
  color: black;
  background-color: #DEEEF3;
  border-style: hidden;

}
.button-rez:hover{
  background-color: #1687a7;
}
.pc-contact{
  margin-left: 1200px;
}

#bottom button {
  position: fixed;
  right: -0.05%;
  bottom: -1px;
  z-index: 1000;
  text-align: center;
  text-decoration: none;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  font-size: 200%;
}

.t-text {
  color: #000;
  letter-spacing: 0.03em;
  font-family: 'Arimo', sans-serif;
  text-align: center;
  box-sizing: border-box;
  font-weight: normal;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  margin: 0 auto 20px;
  padding-top: 250px;
  width: 430px;
}

.things-h2 {
  padding-bottom: 20px;
  padding-left: 40px;
  font-weight: bold;
}

.things-p {
  color: #5b5b5b;
  letter-spacing: 0.03em;
  text-align: center;
  box-sizing: border-box;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  line-height: 1.9;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-left: 70px;
  padding-right: 30px;
  line-height: 1.9;
}

.t-p1 {
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  clear: left;
  color: #3599C1;
  width: 35%;
  margin-bottom: 30px;
}

.t-p2 {
  line-height: 1.6;
  letter-spacing: 0.03em;
  list-style: none;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #3599C1;
  float: right;
  clear: right;
  width: 30%;
  margin-top: 100px;
  position: relative;
}

.t-p3 {
  line-height: 1.6;
  letter-spacing: 0.03em;
  list-style: none;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  float: left;
  clear: left;
  color: #3599C1;
  width: 28%;
  margin: 40px 0 0 18%;
  position: relative;

}

.t-p4 {
  line-height: 1.6;
  letter-spacing: 0.03em;
  list-style: none;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #3599C1;
  float: right;
  clear: right;
  width: 22%;
  margin: 140px 10% 50px 0;
}
